### In this notebook we combine the Bayes classified data for French and German tweets and the given sentiments for English tweets and produce a dataframe, which contains all cities by months, sentiment and language.

In [1]:
import pandas as pd
import json
import numpy as np
import folium
import nltk
import time
import matplotlib.pyplot as plt
from geopy.geocoders import Nominatim
import math
from geopy.geocoders import Nominatim
import re
from mpl_toolkits.basemap import Basemap

In [3]:
bayes = pd.read_csv('processed/Bayes/bayesCombined.csv')
given = pd.read_csv('processed/sentiments/twitter_sentiments_combined.csv')
bayes.head()

                 City  Sentiment  Count  Month Language
0     source_location  sentiment      0  april       de
1               Aarau   NEGATIVE    263  april       de
2               Aarau    NEUTRAL      6  april       de
3               Aarau   POSITIVE    441  april       de
4  Affoltern am Albis   NEGATIVE      1  april       de

From the dataframe with given sentiments we only need the tweets in English.

In [4]:
given = given[given['Language']=='en']
given.head()

              City Sentiment  Count  Month Language
17685       Luzern   NEUTRAL    279  april       en
17686        Uster  POSITIVE     16  april       en
17687  Switzerland  POSITIVE  53815  april       en
17688   Winterthur  POSITIVE    152  april       en
17689   Porrentruy   NEUTRAL      2  april       en

Concatenating the two dataframes into one.

In [5]:
df = pd.concat([bayes,given])
df

                                 City  Sentiment  Count      Month Language
0                     source_location  sentiment      0      april       de
1                               Aarau   NEGATIVE    263      april       de
2                               Aarau    NEUTRAL      6      april       de
3                               Aarau   POSITIVE    441      april       de
4                  Affoltern am Albis   NEGATIVE      1      april       de
5                  Affoltern am Albis   POSITIVE      3      april       de
6                               Aigle   NEGATIVE      1      april       de
7                             Altdorf   NEGATIVE     59      april       de
8                             Altdorf    NEUTRAL      6      april       de
9                             Altdorf   POSITIVE     62      april       de
10                              Amden   NEGATIVE      3      april       de
11                              Amden    NEUTRAL      1      april       de
12                              Amden   POSITIVE      6      april       de
13                          Appenzell   NEGATIVE      7      april       de
14                          Appenzell   POSITIVE     11      april       de
15                              Arbon   NEGATIVE      6      april       de
16                              Arbon   POSITIVE      3      april       de
17                          Arlesheim   NEGATIVE      6      april       de
18                          Arlesheim    NEUTRAL      1      april       de
19                          Arlesheim   POSITIVE     11      april       de
20                               Arth   NEGATIVE      1      april       de
21                        Bad Zurzach   NEGATIVE     16      april       de
22                        Bad Zurzach   POSITIVE     22      april       de
23                              Baden   NEGATIVE    468      april       de
24                              Baden    NEUTRAL     19      april       de
25                              Baden   POSITIVE    952      april       de
26                              Basel   NEGATIVE   3781      april       de
27                              Basel    NEUTRAL     71      april       de
28                              Basel   POSITIVE   8805      april       de
29                            Basilea   POSITIVE      1      april       de
...                               ...        ...    ...        ...      ...
77222                           davos   NEGATIVE      6  september       en
77223            Switzerland, Wallis.   NEGATIVE      4  september       en
77224   Rue du Nant, 22 / 1207 Geneva    NEUTRAL      1  september       en
77225                     Cumbria, UK    NEUTRAL      6  september       en
77226                   Wellington NZ    NEUTRAL      1  september       en
77227                Cheras, Selangor    NEUTRAL      1  september       en
77228               Republic of Korea    NEUTRAL      8  september       en
77229  Frankfurt on the Main, Germany    NEUTRAL      1  september       en
77230                              29   POSITIVE      3  september       en
77231                           Perth   POSITIVE      2  september       en
77232               Konstanz, Germany    NEUTRAL      2  september       en
77233                        nurul ❤️    NEUTRAL      1  september       en
77234                WTI, Switzerland   NEGATIVE      2  september       en
77235      INSTAGRAM valeriamlafuente    NEUTRAL      1  september       en
77236      Lauterbrunnen - Swiss Alps   POSITIVE      5  september       en
77237                           Amden   POSITIVE      3  september       en
77238   Switzerland, Africa & Makkah!    NEUTRAL      6  september       en
77239           Zürich, Vulkanstrasse   POSITIVE      1  september       en
77240                      Zollikofen   POSITIVE      2  september       en
77241                    Delhi, India   POSITIVE      2  september       en
77242         Lugano, Capital Federal   NEGATIVE      1  september       en
77243                DT, SH, NV & NYC   NEGATIVE      1  september       en
77244                        Monmouth   NEGATIVE      1  september       en
77245                              14    NEUTRAL      1  september       en
77246         Naga City, Bicol Region    NEUTRAL      2  september       en
77247               Hellerup, Denmark   POSITIVE      2  september       en
77248         Flurlingen, Switzerland    NEUTRAL      1  september       en
77249                Dublin, Ireland.    NEUTRAL      1  september       en
77250      London, NYC, LA, Singapore   NEGATIVE      1  september       en
77251          PostFinance-Arena Bern    NEUTRAL      1  september       en

[99866 rows x 5 columns]

List of words, where Switzerland is in different forms. We will remove records, which city field contains those, as we are interested in the locations such as cities, not countries.

In [6]:
switzerland = ['schweiz', 'schwyz', 'سويسرا', 'สวิตเซอร์แลนด์', 'スイス','thuy si','ch',
       'suica', 'suisse', 'suiza', 'suíça', 'suïssa', 'svajcarska',
       'sveitsi', 'svizzera', 'swiss', 'switzerland',
       'zwitserland', 'isviçre', 'Швейцария']

Cleaning up the city field.

In [7]:
df['City'] = df['City'].map(lambda x: re.sub(r'[^áâçàéèa-zA-ZÖöÜüÄä]+', ' ', x)) #Only latin characters
df['City'] = df['City'].map(lambda x: x.split(' ', 1)[0]) #Selecting the first word
df['City'] = df['City'].map(lambda x: x.lower()) #Converting to lowercase
df = df.loc[~df['City'].isin(switzerland)] #Removing if conatins a word representing Switzerland
df['City'].replace('', np.nan, inplace=True) #Replacing just a whitespace with nan value for later removal

df = df[pd.notnull(df['City'])] #Keeping only records which have a city field
df

//anaconda/lib/python3.5/site-packages/pandas/core/generic.py:3443: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

                City  Sentiment  Count      Month Language
0             source  sentiment      0      april       de
1              aarau   NEGATIVE    263      april       de
2              aarau    NEUTRAL      6      april       de
3              aarau   POSITIVE    441      april       de
4          affoltern   NEGATIVE      1      april       de
5          affoltern   POSITIVE      3      april       de
6              aigle   NEGATIVE      1      april       de
7            altdorf   NEGATIVE     59      april       de
8            altdorf    NEUTRAL      6      april       de
9            altdorf   POSITIVE     62      april       de
10             amden   NEGATIVE      3      april       de
11             amden    NEUTRAL      1      april       de
12             amden   POSITIVE      6      april       de
13         appenzell   NEGATIVE      7      april       de
14         appenzell   POSITIVE     11      april       de
15             arbon   NEGATIVE      6      april       de
16             arbon   POSITIVE      3      april       de
17         arlesheim   NEGATIVE      6      april       de
18         arlesheim    NEUTRAL      1      april       de
19         arlesheim   POSITIVE     11      april       de
20              arth   NEGATIVE      1      april       de
21               bad   NEGATIVE     16      april       de
22               bad   POSITIVE     22      april       de
23             baden   NEGATIVE    468      april       de
24             baden    NEUTRAL     19      april       de
25             baden   POSITIVE    952      april       de
26             basel   NEGATIVE   3781      april       de
27             basel    NEUTRAL     71      april       de
28             basel   POSITIVE   8805      april       de
29           basilea   POSITIVE      1      april       de
...              ...        ...    ...        ...      ...
77218       walchwil    NEUTRAL      1  september       en
77219            big    NEUTRAL      1  september       en
77220       obwalden    NEUTRAL      9  september       en
77221       berthoud   NEGATIVE      7  september       en
77222          davos   NEGATIVE      6  september       en
77224            rue    NEUTRAL      1  september       en
77225        cumbria    NEUTRAL      6  september       en
77226     wellington    NEUTRAL      1  september       en
77227         cheras    NEUTRAL      1  september       en
77228       republic    NEUTRAL      8  september       en
77229      frankfurt    NEUTRAL      1  september       en
77231          perth   POSITIVE      2  september       en
77232       konstanz    NEUTRAL      2  september       en
77233          nurul    NEUTRAL      1  september       en
77234            wti   NEGATIVE      2  september       en
77235      instagram    NEUTRAL      1  september       en
77236  lauterbrunnen   POSITIVE      5  september       en
77237          amden   POSITIVE      3  september       en
77239         zürich   POSITIVE      1  september       en
77240     zollikofen   POSITIVE      2  september       en
77241          delhi   POSITIVE      2  september       en
77242         lugano   NEGATIVE      1  september       en
77243             dt   NEGATIVE      1  september       en
77244       monmouth   NEGATIVE      1  september       en
77246           naga    NEUTRAL      2  september       en
77247       hellerup   POSITIVE      2  september       en
77248     flurlingen    NEUTRAL      1  september       en
77249         dublin    NEUTRAL      1  september       en
77250         london   NEGATIVE      1  september       en
77251    postfinance    NEUTRAL      1  september       en

[89644 rows x 5 columns]

Keeping only the records for which we have positive or negative sentiments by discarding neutral. As there are many neutral sentiments, we believe it gives us a better idea about cities which tend to have positive or negative sentiments.

In [8]:
df = df.loc[df['Sentiment'].isin(['POSITIVE','NEGATIVE'])]
df

                City Sentiment  Count      Month Language
1              aarau  NEGATIVE    263      april       de
3              aarau  POSITIVE    441      april       de
4          affoltern  NEGATIVE      1      april       de
5          affoltern  POSITIVE      3      april       de
6              aigle  NEGATIVE      1      april       de
7            altdorf  NEGATIVE     59      april       de
9            altdorf  POSITIVE     62      april       de
10             amden  NEGATIVE      3      april       de
12             amden  POSITIVE      6      april       de
13         appenzell  NEGATIVE      7      april       de
14         appenzell  POSITIVE     11      april       de
15             arbon  NEGATIVE      6      april       de
16             arbon  POSITIVE      3      april       de
17         arlesheim  NEGATIVE      6      april       de
19         arlesheim  POSITIVE     11      april       de
20              arth  NEGATIVE      1      april       de
21               bad  NEGATIVE     16      april       de
22               bad  POSITIVE     22      april       de
23             baden  NEGATIVE    468      april       de
25             baden  POSITIVE    952      april       de
26             basel  NEGATIVE   3781      april       de
28             basel  POSITIVE   8805      april       de
29           basilea  POSITIVE      1      april       de
30        bellinzona  NEGATIVE     26      april       de
32        bellinzona  POSITIVE     54      april       de
33              bern  NEGATIVE   4791      april       de
35              bern  POSITIVE   7642      april       de
36             berna  NEGATIVE      2      april       de
37              biel  NEGATIVE     74      april       de
39              biel  POSITIVE    135      april       de
...              ...       ...    ...        ...      ...
77174           sion  NEGATIVE      1  september       en
77179         taylor  NEGATIVE      1  september       en
77185        vésenaz  POSITIVE      1  september       en
77187           hong  POSITIVE      2  september       en
77188         nendaz  NEGATIVE      1  september       en
77191             st  POSITIVE     10  september       en
77193         united  NEGATIVE     11  september       en
77194         lugano  POSITIVE     12  september       en
77200       paradise  POSITIVE      7  september       en
77206           pisa  POSITIVE      1  september       en
77208      calabasas  NEGATIVE      1  september       en
77209         orkney  POSITIVE      5  september       en
77210       maryland  POSITIVE      4  september       en
77214         zürich  POSITIVE      3  september       en
77216    somewherein  POSITIVE     10  september       en
77217         mainly  NEGATIVE      1  september       en
77221       berthoud  NEGATIVE      7  september       en
77222          davos  NEGATIVE      6  september       en
77231          perth  POSITIVE      2  september       en
77234            wti  NEGATIVE      2  september       en
77236  lauterbrunnen  POSITIVE      5  september       en
77237          amden  POSITIVE      3  september       en
77239         zürich  POSITIVE      1  september       en
77240     zollikofen  POSITIVE      2  september       en
77241          delhi  POSITIVE      2  september       en
77242         lugano  NEGATIVE      1  september       en
77243             dt  NEGATIVE      1  september       en
77244       monmouth  NEGATIVE      1  september       en
77247       hellerup  POSITIVE      2  september       en
77250         london  NEGATIVE      1  september       en

[62645 rows x 5 columns]

In [9]:

#df['City'] = pd.core.strings.str_strip(df['City'])
#df.head()

Grouping the data by city, sentiment, month, language and adding up the counts for tweets.

In [10]:
df = df[['City', 'Sentiment', 'Count', 'Month','Language']]
df = df.groupby(['City','Sentiment','Month','Language'])[('Count')].sum()
df

City     Sentiment  Month      Language
a        NEGATIVE   august     de            1
                               en            1
                    july       de            1
                               fr            1
                    may        de            1
                               en            6
                               fr          200
                    september  en            2
                               fr            1
         POSITIVE   august     de            3
                               en            4
                               fr            2
                    july       de            1
                               en            2
                    may        en           20
                               fr           36
                    october    de            1
                               en            3
                               fr            1
                    september  de            1
                               en            7
                               fr            1
aachen   NEGATIVE   october    de            1
                    september  de            3
         POSITIVE   august     de            1
                    october    en            2
                    september  de            8
aadorf   NEGATIVE   august     de           27
                    july       de            4
                    october    de           22
                                          ...
üsküdar  NEGATIVE   august     de            1
üt       NEGATIVE   august     de            6
                               en           11
                    july       de            1
                               en           14
                    june       en            2
                    may        de            2
                               en           12
                    october    de            2
                               en            8
                               fr            2
                    september  de            6
                               en           15
                               fr            1
         POSITIVE   august     de           34
                               en           65
                               fr            7
                    july       de            1
                               en           30
                               fr            3
                    june       en            6
                    may        de           14
                               en           27
                               fr            3
                    october    de           28
                               en           70
                               fr            9
                    september  de           14
                               en           56
                               fr            8
Name: Count, dtype: int64

To recreate dataframe we reset index.

In [11]:
df = df.reset_index()
df

          City Sentiment      Month Language  Count
0            a  NEGATIVE     august       de      1
1            a  NEGATIVE     august       en      1
2            a  NEGATIVE       july       de      1
3            a  NEGATIVE       july       fr      1
4            a  NEGATIVE        may       de      1
5            a  NEGATIVE        may       en      6
6            a  NEGATIVE        may       fr    200
7            a  NEGATIVE  september       en      2
8            a  NEGATIVE  september       fr      1
9            a  POSITIVE     august       de      3
10           a  POSITIVE     august       en      4
11           a  POSITIVE     august       fr      2
12           a  POSITIVE       july       de      1
13           a  POSITIVE       july       en      2
14           a  POSITIVE        may       en     20
15           a  POSITIVE        may       fr     36
16           a  POSITIVE    october       de      1
17           a  POSITIVE    october       en      3
18           a  POSITIVE    october       fr      1
19           a  POSITIVE  september       de      1
20           a  POSITIVE  september       en      7
21           a  POSITIVE  september       fr      1
22      aachen  NEGATIVE    october       de      1
23      aachen  NEGATIVE  september       de      3
24      aachen  POSITIVE     august       de      1
25      aachen  POSITIVE    october       en      2
26      aachen  POSITIVE  september       de      8
27      aadorf  NEGATIVE     august       de     27
28      aadorf  NEGATIVE       july       de      4
29      aadorf  NEGATIVE    october       de     22
...        ...       ...        ...      ...    ...
32356  üsküdar  NEGATIVE     august       de      1
32357       üt  NEGATIVE     august       de      6
32358       üt  NEGATIVE     august       en     11
32359       üt  NEGATIVE       july       de      1
32360       üt  NEGATIVE       july       en     14
32361       üt  NEGATIVE       june       en      2
32362       üt  NEGATIVE        may       de      2
32363       üt  NEGATIVE        may       en     12
32364       üt  NEGATIVE    october       de      2
32365       üt  NEGATIVE    october       en      8
32366       üt  NEGATIVE    october       fr      2
32367       üt  NEGATIVE  september       de      6
32368       üt  NEGATIVE  september       en     15
32369       üt  NEGATIVE  september       fr      1
32370       üt  POSITIVE     august       de     34
32371       üt  POSITIVE     august       en     65
32372       üt  POSITIVE     august       fr      7
32373       üt  POSITIVE       july       de      1
32374       üt  POSITIVE       july       en     30
32375       üt  POSITIVE       july       fr      3
32376       üt  POSITIVE       june       en      6
32377       üt  POSITIVE        may       de     14
32378       üt  POSITIVE        may       en     27
32379       üt  POSITIVE        may       fr      3
32380       üt  POSITIVE    october       de     28
32381       üt  POSITIVE    october       en     70
32382       üt  POSITIVE    october       fr      9
32383       üt  POSITIVE  september       de     14
32384       üt  POSITIVE  september       en     56
32385       üt  POSITIVE  september       fr      8

[32386 rows x 5 columns]

Selecting for each city, month, language the record, in which the count is the highest, so that the most frequent sentiment is left for each city.

In [13]:
df = df.loc[df.groupby(['City','Month','Language'])["Count"].idxmax()]
df

            City Sentiment      Month Language  Count
9              a  POSITIVE     august       de      3
10             a  POSITIVE     august       en      4
11             a  POSITIVE     august       fr      2
2              a  NEGATIVE       july       de      1
13             a  POSITIVE       july       en      2
3              a  NEGATIVE       july       fr      1
4              a  NEGATIVE        may       de      1
14             a  POSITIVE        may       en     20
6              a  NEGATIVE        may       fr    200
16             a  POSITIVE    october       de      1
17             a  POSITIVE    october       en      3
18             a  POSITIVE    october       fr      1
19             a  POSITIVE  september       de      1
20             a  POSITIVE  september       en      7
8              a  NEGATIVE  september       fr      1
24        aachen  POSITIVE     august       de      1
22        aachen  NEGATIVE    october       de      1
25        aachen  POSITIVE    october       en      2
26        aachen  POSITIVE  september       de      8
32        aadorf  POSITIVE     august       de     56
33        aadorf  POSITIVE     august       en      4
34        aadorf  POSITIVE       july       de      5
35        aadorf  POSITIVE    october       de     57
30        aadorf  NEGATIVE    october       en      2
37        aadorf  POSITIVE  september       de     49
38        aadorf  POSITIVE  september       en      3
67         aarau  POSITIVE      april       de    441
68         aarau  POSITIVE      april       en     51
41         aarau  NEGATIVE      april       fr      3
70         aarau  POSITIVE     august       de    698
...          ...       ...        ...      ...    ...
32340    überall  POSITIVE     august       de     12
32336    überall  NEGATIVE       july       de      1
32342    überall  POSITIVE       july       en      2
32343    überall  POSITIVE        may       de      1
32344    überall  POSITIVE        may       en      2
32345    überall  POSITIVE    october       de      5
32346    überall  POSITIVE  september       de     13
32347    überall  POSITIVE  september       en      2
32351  überstorf  POSITIVE     august       de      5
32352  überstorf  POSITIVE       july       de      2
32349  überstorf  NEGATIVE    october       de      7
32354  überstorf  POSITIVE  september       de      5
32355  überstorf  POSITIVE  september       fr      1
32356    üsküdar  NEGATIVE     august       de      1
32370         üt  POSITIVE     august       de     34
32371         üt  POSITIVE     august       en     65
32372         üt  POSITIVE     august       fr      7
32359         üt  NEGATIVE       july       de      1
32374         üt  POSITIVE       july       en     30
32375         üt  POSITIVE       july       fr      3
32376         üt  POSITIVE       june       en      6
32377         üt  POSITIVE        may       de     14
32378         üt  POSITIVE        may       en     27
32379         üt  POSITIVE        may       fr      3
32380         üt  POSITIVE    october       de     28
32381         üt  POSITIVE    october       en     70
32382         üt  POSITIVE    october       fr      9
32383         üt  POSITIVE  september       de     14
32384         üt  POSITIVE  september       en     56
32385         üt  POSITIVE  september       fr      8

[21265 rows x 5 columns]

As we already had the coordinates evaluated, we will reuse the file to add coordinates for the combined data.

In [14]:
bayesCoordinates = pd.read_csv('swissTwitterSentimentsAndCoordinates10mBayes.csv')
bayesCoordinates = bayesCoordinates[['City', 'Latitude', 'Longitude']]
bayesCoordinates.head()

      City   Latitude  Longitude
0      .ch  46.798562   8.231974
1   aadorf  47.491578   8.902953
2    aarau  47.392715   8.044445
3   aarau.  47.392715   8.044445
4  aarberg  47.044335   7.275300

In [15]:
givenCoordinates = pd.read_csv('swissTwitterSentimentsAndCoordinates10mGiven.csv')
givenCoordinates = givenCoordinates[['City', 'Latitude', 'Longitude']] 
givenCoordinates.head()

      City   Latitude  Longitude
0      .ch  46.798562   8.231974
1   aadorf  47.491578   8.902953
2    aarau  47.392715   8.044445
3  aarberg  47.044335   7.275300
4  aarburg  47.320642   7.899360

In [16]:
coordinates = pd.concat([bayesCoordinates,givenCoordinates])
coordinates.head()

      City   Latitude  Longitude
0      .ch  46.798562   8.231974
1   aadorf  47.491578   8.902953
2    aarau  47.392715   8.044445
3   aarau.  47.392715   8.044445
4  aarberg  47.044335   7.275300

In [17]:
coordinates.drop_duplicates()
coordinates

                City   Latitude  Longitude
0                .ch  46.798562   8.231974
1             aadorf  47.491578   8.902953
2              aarau  47.392715   8.044445
3             aarau.  47.392715   8.044445
4            aarberg  47.044335   7.275300
5            aarburg  47.320642   7.899360
6             aargau  47.412396   8.194832
7          adelboden  46.492721   7.558762
8           adetswil  47.339633   8.843533
9        adligenswil  47.070535   8.368244
10          adliswil  47.311762   8.524910
11          aegerten  47.120241   7.288497
12            aeschi  47.180420   7.661874
13            aeugst  47.533808   7.720602
14         affoltern  47.418827   8.506867
15             aigle  46.317901   6.968893
16           albinen  46.340644   7.633728
17       albisrieden  47.374830   8.484558
18            alikon  47.198940   8.359233
19           allaman  46.470778   6.396174
20         allschwil  47.551728   7.536159
21         alpinaweg  46.939059   8.998913
22           alpnach  46.941166   8.273683
23           alpthal  47.073494   8.713891
24       amsoldingen  46.728097   7.580776
25          arisdorf  47.512381   7.765508
26          attalens  46.511100   6.848970
27           aubonne  46.495292   6.391575
28             augio  46.364975   9.126890
29   augustinergasse  47.372232   8.539174
..               ...        ...        ...
453              who  46.232708   6.134281
454        wichtrach  46.845731   7.578342
455           widnau  47.405343   9.635629
456     wiesendangen  47.521305   8.788990
457    wiestistrasse  46.022975   7.752309
458            wikon  47.262811   7.967599
459       winterthur  47.499172   8.729150
460           wohlen  47.350495   8.278691
461        wohlensee  46.966088   7.316297
462         wolhusen  47.057470   8.073151
463         wollerau  47.195724   8.719470
464        wädenswil  47.227884   8.670198
465            wängi  47.490930   8.955449
466          zermatt  46.022227   7.749400
467           zernez  46.697984  10.094331
468          zetzwil  47.286261   8.150826
469               zg  47.148614   8.553938
470             zhaw  47.377624   8.532737
471         zofingen  47.288491   7.945826
472     zollikerberg  47.345664   8.599400
473       zollikofen  46.995946   7.457642
474         zollikon  47.339568   8.576126
475              zrh  47.458280   8.548178
476          zuchwil  47.203773   7.559418
477          zuerich  47.368559   8.540443
478              zug  47.167990   8.517365
479         zugerstr  47.230011   8.614036
480          zunzgen  47.450401   7.804620
481           zurich  47.368559   8.540443
482           zürich  47.368559   8.540443

[1014 rows x 3 columns]

Doing an inner join to assign coordinates for the combined data.

In [19]:
merged = pd.merge(df, coordinates, how='inner', on='City')

mergedClean = merged.drop_duplicates() #Dropping duplicates
mergedClean

        City Sentiment      Month Language  Count   Latitude  Longitude
0     aadorf  POSITIVE     august       de     56  47.491578   8.902953
2     aadorf  POSITIVE     august       en      4  47.491578   8.902953
4     aadorf  POSITIVE       july       de      5  47.491578   8.902953
6     aadorf  POSITIVE    october       de     57  47.491578   8.902953
8     aadorf  NEGATIVE    october       en      2  47.491578   8.902953
10    aadorf  POSITIVE  september       de     49  47.491578   8.902953
12    aadorf  POSITIVE  september       en      3  47.491578   8.902953
14     aarau  POSITIVE      april       de    441  47.392715   8.044445
16     aarau  POSITIVE      april       en     51  47.392715   8.044445
18     aarau  NEGATIVE      april       fr      3  47.392715   8.044445
20     aarau  POSITIVE     august       de    698  47.392715   8.044445
22     aarau  POSITIVE     august       en    159  47.392715   8.044445
24     aarau  POSITIVE     august       fr      4  47.392715   8.044445
26     aarau  POSITIVE   february       de    542  47.392715   8.044445
28     aarau  POSITIVE   february       en     48  47.392715   8.044445
30     aarau  POSITIVE   february       fr      3  47.392715   8.044445
32     aarau  POSITIVE    january       de    305  47.392715   8.044445
34     aarau  NEGATIVE    january       en      1  47.392715   8.044445
36     aarau  POSITIVE    january       fr      3  47.392715   8.044445
38     aarau  POSITIVE       july       de     81  47.392715   8.044445
40     aarau  POSITIVE       july       en     87  47.392715   8.044445
42     aarau  POSITIVE       june       de    496  47.392715   8.044445
44     aarau  POSITIVE       june       en     77  47.392715   8.044445
46     aarau  POSITIVE       june       fr     10  47.392715   8.044445
48     aarau  POSITIVE      march       de    649  47.392715   8.044445
50     aarau  POSITIVE      march       en     58  47.392715   8.044445
52     aarau  POSITIVE      march       fr     11  47.392715   8.044445
54     aarau  POSITIVE        may       de    554  47.392715   8.044445
56     aarau  POSITIVE        may       en     43  47.392715   8.044445
58     aarau  POSITIVE        may       fr      3  47.392715   8.044445
...      ...       ...        ...      ...    ...        ...        ...
7700  zürich  POSITIVE      april       de  24317  47.368559   8.540443
7701  zürich  POSITIVE      april       en   5736  47.368559   8.540443
7702  zürich  POSITIVE      april       fr    596  47.368559   8.540443
7703  zürich  POSITIVE     august       de  28861  47.368559   8.540443
7704  zürich  POSITIVE     august       en  11015  47.368559   8.540443
7705  zürich  POSITIVE     august       fr    765  47.368559   8.540443
7706  zürich  POSITIVE   february       de  23321  47.368559   8.540443
7707  zürich  POSITIVE   february       en   7797  47.368559   8.540443
7708  zürich  POSITIVE   february       fr    523  47.368559   8.540443
7709  zürich  POSITIVE    january       de  14005  47.368559   8.540443
7710  zürich  POSITIVE    january       en    279  47.368559   8.540443
7711  zürich  POSITIVE    january       fr    271  47.368559   8.540443
7712  zürich  POSITIVE       july       de   3869  47.368559   8.540443
7713  zürich  POSITIVE       july       en   7457  47.368559   8.540443
7714  zürich  POSITIVE       july       fr    275  47.368559   8.540443
7715  zürich  POSITIVE       june       de  21399  47.368559   8.540443
7716  zürich  POSITIVE       june       en   6558  47.368559   8.540443
7717  zürich  POSITIVE       june       fr    508  47.368559   8.540443
7718  zürich  POSITIVE      march       de  25101  47.368559   8.540443
7719  zürich  POSITIVE      march       en   6589  47.368559   8.540443
7720  zürich  POSITIVE      march       fr    622  47.368559   8.540443
7721  zürich  POSITIVE        may       de  27783  47.368559   8.540443
7722  zürich  POSITIVE        may       en   7113  47.368559   8.540443
7723  zürich  POSITIVE        may       fr    836  47.368559   8.540443
7724  zürich  POSITIVE    october       de  38139  47.368559   8.540443
7725  zürich  POSITIVE    october       en  13374  47.368559   8.540443
7726  zürich  POSITIVE    october       fr   1338  47.368559   8.540443
7727  zürich  POSITIVE  september       de  34067  47.368559   8.540443
7728  zürich  POSITIVE  september       en  11262  47.368559   8.540443
7729  zürich  POSITIVE  september       fr    960  47.368559   8.540443

[5979 rows x 7 columns]

In [20]:
mergedClean['City'] = mergedClean['City'].map(lambda x: x.capitalize())

//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [21]:
mergedClean.head()

     City Sentiment    Month Language  Count   Latitude  Longitude
0  Aadorf  POSITIVE   august       de     56  47.491578   8.902953
2  Aadorf  POSITIVE   august       en      4  47.491578   8.902953
4  Aadorf  POSITIVE     july       de      5  47.491578   8.902953
6  Aadorf  POSITIVE  october       de     57  47.491578   8.902953
8  Aadorf  NEGATIVE  october       en      2  47.491578   8.902953

Writing the data into a file, from which it can be used to create the interactive map.

In [19]:
#outFile = "allDataWithMonthsCoordinatesLanguages.csv"
#mergedClean.to_csv(outFile,index=None)

In [23]:
a = pd.read_csv('allDataWithMonthsCoordinatesLanguages.csv')
a

        City Sentiment      Month Language  Count   Latitude  Longitude
0     Aadorf  POSITIVE     august       de     56  47.491578   8.902953
1     Aadorf  POSITIVE     august       en      4  47.491578   8.902953
2     Aadorf  NEGATIVE       july       de      5  47.491578   8.902953
3     Aadorf  POSITIVE    october       de     53  47.491578   8.902953
4     Aadorf  NEGATIVE    october       en      2  47.491578   8.902953
5     Aadorf  POSITIVE  september       de     51  47.491578   8.902953
6     Aadorf  POSITIVE  september       en      3  47.491578   8.902953
7      Aarau  POSITIVE      april       de    423  47.392715   8.044445
8      Aarau  POSITIVE      april       en     51  47.392715   8.044445
9      Aarau  POSITIVE      april       fr      4  47.392715   8.044445
10     Aarau  POSITIVE     august       de    663  47.392715   8.044445
11     Aarau  POSITIVE     august       en    159  47.392715   8.044445
12     Aarau  NEGATIVE     august       fr      4  47.392715   8.044445
13     Aarau  POSITIVE   february       de    503  47.392715   8.044445
14     Aarau  POSITIVE   february       en     48  47.392715   8.044445
15     Aarau  POSITIVE   february       fr      3  47.392715   8.044445
16     Aarau  POSITIVE    january       de    282  47.392715   8.044445
17     Aarau  NEGATIVE    january       en      1  47.392715   8.044445
18     Aarau  POSITIVE    january       fr      3  47.392715   8.044445
19     Aarau  POSITIVE       july       de     81  47.392715   8.044445
20     Aarau  POSITIVE       july       en     87  47.392715   8.044445
21     Aarau  POSITIVE       june       de    479  47.392715   8.044445
22     Aarau  POSITIVE       june       en     77  47.392715   8.044445
23     Aarau  POSITIVE       june       fr     11  47.392715   8.044445
24     Aarau  POSITIVE      march       de    630  47.392715   8.044445
25     Aarau  POSITIVE      march       en     58  47.392715   8.044445
26     Aarau  POSITIVE      march       fr     10  47.392715   8.044445
27     Aarau  POSITIVE        may       de    539  47.392715   8.044445
28     Aarau  POSITIVE        may       en     43  47.392715   8.044445
29     Aarau  POSITIVE        may       fr      3  47.392715   8.044445
...      ...       ...        ...      ...    ...        ...        ...
5949  Zürich  POSITIVE      april       de  24060  47.368559   8.540443
5950  Zürich  POSITIVE      april       en   5736  47.368559   8.540443
5951  Zürich  POSITIVE      april       fr    594  47.368559   8.540443
5952  Zürich  POSITIVE     august       de  28416  47.368559   8.540443
5953  Zürich  POSITIVE     august       en  11015  47.368559   8.540443
5954  Zürich  POSITIVE     august       fr    780  47.368559   8.540443
5955  Zürich  POSITIVE   february       de  23060  47.368559   8.540443
5956  Zürich  POSITIVE   february       en   7797  47.368559   8.540443
5957  Zürich  POSITIVE   february       fr    529  47.368559   8.540443
5958  Zürich  POSITIVE    january       de  13867  47.368559   8.540443
5959  Zürich  POSITIVE    january       en    279  47.368559   8.540443
5960  Zürich  POSITIVE    january       fr    264  47.368559   8.540443
5961  Zürich  POSITIVE       july       de   3805  47.368559   8.540443
5962  Zürich  POSITIVE       july       en   7457  47.368559   8.540443
5963  Zürich  POSITIVE       july       fr    275  47.368559   8.540443
5964  Zürich  POSITIVE       june       de  20959  47.368559   8.540443
5965  Zürich  POSITIVE       june       en   6558  47.368559   8.540443
5966  Zürich  POSITIVE       june       fr    509  47.368559   8.540443
5967  Zürich  POSITIVE      march       de  24836  47.368559   8.540443
5968  Zürich  POSITIVE      march       en   6589  47.368559   8.540443
5969  Zürich  POSITIVE      march       fr    608  47.368559   8.540443
5970  Zürich  POSITIVE        may       de  27400  47.368559   8.540443
5971  Zürich  POSITIVE        may       en   7113  47.368559   8.540443
5972  Zürich  POSITIVE        may       fr    822  47.368559   8.540443
5973  Zürich  POSITIVE    october       de  37767  47.368559   8.540443
5974  Zürich  POSITIVE    october       en  13374  47.368559   8.540443
5975  Zürich  POSITIVE    october       fr   1327  47.368559   8.540443
5976  Zürich  POSITIVE  september       de  33552  47.368559   8.540443
5977  Zürich  POSITIVE  september       en  11262  47.368559   8.540443
5978  Zürich  POSITIVE  september       fr    974  47.368559   8.540443

[5979 rows x 7 columns]